{:paths ["src" "resources"]

 :deps {metosin/malli {:mvn/version "0.17.0"}}

 :aliases {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}
                          com.kepler16/kaven {:mvn/version "1.0.0-alpha.1"}}
                   :ns-default build
                   :extra-paths ["build"]}

           :test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.87.1366"}
                               nubank/matcher-combinators {:mvn/version "3.8.8"}}
                  :extra-paths ["test"]
                  :main-opts ["-m" "kaocha.runner"]}}}
