{:source-paths ["src" "dev" "test"]
 :dependencies [[funcool/promesa "6.0.2"]
                [metosin/malli "0.8.4"]]
 :builds
 {:test {:target    :node-test
         :output-to "out/gx-test.js"
         :ns-regexp "-test$"
         :autorun   true}}}
