{:http/options {:port 8080}

 :http/routes ["/users" {:get {:handler app/get-users}}]
 :http/router {:gx/component app/router}
 :http/handler {:gx/component app/handler
                ;; overrides component's :gx/props option
                :app/start {:gx/props (gx/ref :http/router)}}
 :http/server {:gx/component app/http-server
               ;; overrides component's :gx/props option
               :app/start {:gx/props (gx/ref-maps :http/options
                                                  :http/handler)}}}
